---
import AppLayout from "@/layouts/AppLayout.astro";
import { Button } from "@/components/starwind/button"
import Features from "@/components/features.astro";
---

<AppLayout title="Welcome">
  <div class="h-screen flex justify-center items-center lg:bg-orange-100">
    <div class="flex flex-col justify-center lg:justify-between h-full lg:py-10 items-center lg:w-[700px] lg:h-[570px] bg-background rounded">
      <div class="w-fit relative min-h-[200px]">
        <img class="w-[200px]" src="/chat.png" alt="Chat background" />
        <img class="w-[120px] absolute top-10 left-10" src="https://api.dicebear.com/9.x/adventurer/svg?seed=Emery" alt="Smiling Avatar" />
      </div>

      <div class="flex flex-col justify-center items-center w-full">
        <h1 class="text-xl font-bold text-center mt-3">Chatty</h1>
        <span class="text-gray-500 text-sm">"Where Fun Conversations Live!"</span>
        <p class="text-gray-600 text-sm md:w-[70%] px-3 md:px-0 text-center mx-auto mt-5">
          Dive into endless fun with Chatty – the lightning-fast, super secure chatting app made for laughs, late-night convos, and epic group chats.
        </p>
      </div>
      <Features />
      <div class="flex flex-col justify-center items-center w-full">
        <a href="/login">
          <Button class:list={["bg-orange-400 shadow-xl shadow-orange-100 text-xs font-bold rounded px-26 py-6 hover:bg-orange-400 hover:opacity-95"]}>Let's Get Started</Button>
        </a>
        <p class="text-gray-600 text-sm mt-4">Already have an account? <a href="/auth/login" class="text-orange-400 font-semibold hover:underline">Login</a></p>
      </div>
    </div>
  </div>
</AppLayout>