# Turborepo
.turbo

# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist/
build/
out/

# Environment files
.env
.env.*
!.env.example

# Cache and logs
.cache/
*.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?