---
import { Icon } from "astro-icon/components";

---

<div class="w-full border min-h-[100px] text-gray-500">
  <p class="flex justify-center items-center mx-auto gap-1 text-xs py-3">
    <Icon size={"15px"} name={"privacy"} /> Your messages are <span class="text-orange-500 font-semibold">end-to-end encrypted.</span>
  </p>
</div>