---
import { Icon } from "astro-icon/components";

---

<div class="w-full min-h-[68vh] flex flex-col gap-y-4 justify-center items-center border-e-red-200">
  <Icon name={"chat-solid"} size={"50px"} class={"text-orange-200"} />
  <p class="text-orange-200 text-xs font-semibold">You currently do not have any chats.</p>
</div>