---
import { Icon } from "astro-icon/components"
import Input from "./starwind/input"
---

<div class="my-4 mx-3 relative rounded-full px-1 bg-slate-50 overflow-hidden flex">
  <Icon name={"search"} size={"30px"} class="m-auto py-1" />
  <Input size="sm" placeholder={"Search"} class="border-none outline-0 focus:outline-0 rounded-none" />
</div>